.footer a {
  margin-right: 14px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer h6,
.footer a {
  color: white;
}

.main-footer {
  padding: 8px 12px;
  background: #222;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-footer .footer-logo {
  width: 38px;
  margin: 0 5px;
}

.awsar-logo {
  width: 50px;
  margin: 0 5px;
}

.footer-links a {
  display: block;
}

.copyright-bar {
  padding: 4px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .copyright-bar {
    display: block;
  }

  .main-footer,
  .copyright-bar {
    padding: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .main-footer div {
    margin: auto;
    text-align: center;
    margin-top: 10px;
  }
}
